<h1>New User</h1>

<%= form_tag '/users/create', method: 'post' do %>
  <input type="text" name="name">
  <input type="password" name"password">
  <input type="submit" value="Creer un compte">
<% end %>

<%= link_to 'Back', users_path %>
