<div class="jumbotron">

  <h1><%= pagetitle %></h1>

  <div class="filter">
    <h2> En contruction </h2>
    <p> Bienvenu sur le site de présentation de <strong><bold>Yoan Dieu</bold></strong>, Seigneur du developpement Web/mobile (Junior) ! En formation à <a href="http://www.simplon.co">Simplon.co</a> !</p>
  </div>
</div>

<i class="fa fa-chevron-down fa-4x" id="arrow"></i>
