<header>
  <a class="home" href="/"><h1>yoan<span class="cyan">dieu</span></h1></a>
  <nav class="topMenu" id="topMenu">
    <ul>
      <a href="/projects" id="link1"><li>Projets</li></a>
      <a href="/curiculum" id="link2"><li>Curiculum</li></a>
      <a href="/contact" id="link3"><li>contact</li></a>
      <li id="burgerBtn"><i class="fa fa-bars fa-2x"></i></li>
    </ul>
  </nav>

</header>

<nav id ="rightMenu" class="rightMenu">
  <ul>
    <a href="/projects"><li>Projets</li></a>
    <a href="/curiculum"><li>Curiculum</li></a>
    <a href="/contact"><li>contact</li></a>
  </ul>
</nav>
