<header>
  <a class="home" href="/" title="Accueil"><h1>yoan<span class="cyan">dieu</span></h1></a>
  <nav class="topMenu" id="topMenu">
    <ul>
      <% if @home == true %>
        <a href="/"class="active"><li>Accueil</li></a>
      <% else %>
      <a href="/"><li>Accueil</li></a>
      <% end %>

      <% if @pro == true %>
        <a class="active" href="/projects"><li>Projets</li></a>
      <% else %>
        <a href="/projects"><li>Projets</li></a>
      <% end %>

      <% if @curi == true %>
        <a class="active" href="/curiculum"><li>Curriculum</li></a>
      <% else %>
        <a href="/curriculum"><li>Curriculum</li></a>
      <% end %>

      <% if @cont == true %>
      <a class="active" href="/contact"><li>Contact</li></a>
      <% else %>
      <a href="/contact"><li>Contact</li></a>
      <% end %>

      <li id="burgerBtn" class="burger"><i class="fa fa-bars fa-2x"></i></li>
    </ul>
  </nav>

</header>

<nav id ="rightMenu" class="rightMenu">
  <ul>
    <% if @home == true %>
      <a href="/"class="active"><li>Accueil</li></a>
    <% else %>
    <a href="/"><li>Accueil</li></a>
    <% end %>

    <% if @pro == true %>
      <a class="active" href="/projects"><li>Projets</li></a>
    <% else %>
      <a href="/projects"><li>Projets</li></a>
    <% end %>

    <% if @curi == true %>
      <a class="active" href="/curiculum"><li>Curiculum</li></a>
    <% else %>
      <a href="/curriculum"><li>Curiculum</li></a>
    <% end %>

    <% if @cont == true %>
    <a class="active" href="/contact"><li>Contact</li></a>
    <% else %>
    <a href="/contact"><li>Contact</li></a>
    <% end %>
  </ul>
</nav>
