<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: "Contact", pagejumbo: 'tore1.jpg', bandtitle: false, bandcontent: false, credits: false %>

<main id="main" class="contact">
<h1> Contact </h1>

<%= form_tag contact_send_path, method: "post" do %>
  <div class="field">
    <p> Prénom: </p>
    <input name="contact[firstname]" type="text">
  </div>

  <div class="field">
    <p> Nom: </p>
    <input name="contact[lastname]" type="text">
  </div>

  <div class="field">
    <p> Email: </p>
    <input name="contact[email]" type="text">
  </div>

  <div class="field">
    <p> Sujet: </p>
    <input name="contact[subject]" type="text">
  </div>

  <div class="field text">
    <p> Message: </p>
    <textarea name="contact[message]"></textarea>
  </div>

  <input type="submit" value="Envoyer !">
<% end %>
</main>
