<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: "Accueil", pagejumbo: 'isscopula.jpg', bandtitle: "Bienvenue !", bandcontent: "Bienvenue sur le site de présentation de Yoan Dieu, developpeur Web junior, issue de la formation 3 à <a href='http://www.simplon.co'>Simplon.co</a> !", credits: " Crédits photo: Vue depuis la coupole de l'ISS, ESA/NASA." %>

<main id="main" class="home">
  <div class="container">
    <article class="aPropos">
      <h2> Qui suis-je ?</h2>
      <div>
        <div class="thumb">
          image_tag("yo.JPG")
          <div class="caption">
            <p> Moi devant le IXV, véhicule expérimental de l'ESA, ESTEC 2015.</p>
          </div>
        </div>
        <div class="quote">
          <p><span class="citation">"</span></p><p>Je ne retiens jamais les citations, ce qui est un avantage, puisque ça me force à réfléchir. ;)</p><p><span class="citation">"</span> </p>
        </div>
      </div>
      <p>Comme vous l'aurez compris, je m'appel <strong>Yoan Dieu</strong>, et non, ce n'est pas une blague. Agé d'une trentaine d'année, j'ai commencé en Avril 2015 une reconversion professionel, de l'impression vers la
        programation ! Curieux par nature, j'ai fait le choix de <strong>Simplon</strong>, un organisme de formation d'un type nouveaux, basé sur la motivation et le "faire pour apprendre".
      </p>
      <p>
        Ma première et unique expérience du code datait alors de mon adolescence avec une petite semaine d'expérimentations html malheureuse. Autant dire rien. Les locaux de Simplon sont basés à Montreuil, ce qui tombait plutôt bien puisque moi aussi.
        Dès le début de ma formation, je me suis lancé dans des projets bénévols et des missions courtes, afin de me challenger et apprendre par nécéssité.
        Et 6 mois plus tard me voilà, vous souhaitant la bienvenue sur mon site, construit entièrement à la main gràce au framework <strong>Ruby On Rails</strong>, du javascript et un peu d'algorithmie.
      </p>
      <p>
        Cela ne vous aura pas échappé, je nourris depuis toujours une passion pour l'astronomie et la <strong>conquête spatial</strong>, ce qui m'aura inspiré la charte graphique de ce site. Cette passion doit "malheureusment"
        me partager avec un apétit pour des sujets divers, tel que l'actualité, la politique, la science en général, la lecture... ainsi qu'une facination pour la <strong>robotique</strong>.
        Soucieux du détail, j'ai tenté de rendre votre découverte de ma personne la plus agréable possible.
      </p>
      <p>
        N'hésitez pas à utiliser le formulaire de contact pour m'adresser vos impressions ou pour toute demande professionel.
      </br><strong>Bonne visite. ;)</strong>
      </p>
      <div class="source">
        <p>Yoan, <span> 19, Oct 2015 </span></p>
      </div>
    </article>
  </div>
</main>
