<%= render 'menu' %>

<%= render 'jumbotron', pagetitle: @project.title, pagejumbo: @project.thumb, bandtitle: false, bandcontent: false, credits: false %>

<main class="projects" id="main">



  <article>
    <h1><%= @project.title %></h1>
  </article>
</main>
