main.curriculum{
  overflow: hidden;
  h1 {
    display: block;
    text-align: center;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #06aae7;
    color: white;
  }

nav#cv {
  ul {
    display: block;
    width: 100%;
    margin: 20px auto;
    li{
      display: inline-block;
      position: relative;
      width: 30%;
      height: 50px;
      margin: 0px 1%;
      background-color: #06aae7;
      border: 2px solid  #06aae7;
      color: white;
      font-weight: bold;
      font-size: 14px;
      box-sizing: border-box;
      padding: 5px;
      padding-top: 10px;
      text-align: center;
      transition: all ease 0.5s;

      &:hover {
        background-color: white;
        color: #06aae7;
        border: 2px solid  #06aae7;
      }
    }
  }
}
  div.cvWarper{
    display: block;
    position: relative;
    overflow: visible;
    width: 95%;
    height: auto;
    box-sizing: content-box;
    margin-left: 1.5%;
    margin-right: 0;
    padding-bottom: 50px;
    display: block;

    div.cvFormations {
      display: inline-block;
      position: absolute;
      width: 100%;
      background-color:white;
      margin-left: -105%;
      margin-right: 1%;
      vertical-align: top;
      margin-top: 0;
      opacity: 0;
      transition: all ease-in-out 1.2s;

      h2 {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #333332;
        margin-bottom: 20px;
      }

      ul {
        li {

          border-bottom: 1px solid #d3d3d3;
          border-top: none;
          padding-top: 20px;
          padding-bottom: 20px;

          article {
            padding: 2%;

            h3{
              text-align: center;
              font-size: 20px;
              color: #06aae7;
              font-weight: bold;
              text-transform: uppercase;
            }
            h4{
              text-align: center;
                font-size: 16px;
                font-weight: bold;
                color: #868686;
                margin-bottom: 30px;

                &:first-child {
                  margin-bottom: 0;
                }

                a{
                  display: inline-block;
                  color: #06aae7;
                }
            }
            p{
              text-align: justify;

            }

          }

          &:first-child {
            border-top: 1px solid #d3d3d3;
          }
        }
      }

    }

    div.cvExperiences {
      display: inline-block;
      position: absolute;
      width: 100%;
      background-color: white;
      vertical-align: top;
      margin-top: 0;
      opacity: 1;
      transition: all ease-in-out 1.2s;

      h2 {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #333332;
        margin-bottom: 20px;
      }

      ul {
        li {

          border-bottom: 1px solid #d3d3d3;
          border-top: none;
          padding-top: 20px;
          padding-bottom: 20px;

          article {
            padding: 2%;

            h3{
              text-align: center;
              font-size: 20px;
              color: #06aae7;
              font-weight: bold;
              text-transform: uppercase;
            }
            h4{
              text-align: center;
                font-size: 16px;
                font-weight: bold;
                color: #868686;
                margin-bottom: 30px;

                &:first-child {
                  margin-bottom: 0;
                }

                a{
                  display: inline-block;
                  color: #06aae7;
                }
            }
            p{
              text-align: justify;
            }
          }

          &:first-child {
            border-top: 1px solid #d3d3d3;
          }
        }
      }
    }

    div.cvActivites {
      display: inline-block;
      position: absolute;
      width: 100%;
      background-color: white;
      vertical-align: top;
      margin-top: 0;
      margin-left: 105%;
      opacity: 0;
      transition: all ease-in-out 1.2s;

      h2 {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #333332;
        margin-bottom: 20px;
      }

      ul {
        li {

          border-bottom: 1px solid #d3d3d3;
          border-top: none;
          padding-top: 20px;
          padding-bottom: 20px;

          article {
            padding: 2%;

            h3{
              text-align: center;
              font-size: 20px;
              color: #06aae7;
              font-weight: bold;
              text-transform: uppercase;
            }
            h4{
              text-align: center;
                font-size: 16px;
                font-weight: bold;
                color: #868686;
                margin-bottom: 30px;

                &:first-child {
                  margin-bottom: 0;
                }

                a{
                  display: inline-block;
                  color: #06aae7;
                }
            }
            p{
              text-align: justify;
            }
          }

          &:first-child {
            border-top: 1px solid #d3d3d3;
          }
        }
      }
    }
  }

}

@media all and (min-width: 600px) and (max-width: 1000px){

  main.curriculum{
    nav#cv {
      ul {
        width: 60%;

        li {
          font-size: 16px;
          margin: 0px 1.2%;
        }
      }
    }

    div.cvWarper{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}

@media all and (min-width: 1001px) {
  main.curriculum{
    nav#cv {
      ul {
        width: 40%;

        li {
          font-size: 18px;
          margin: 0px 1.2%;
        }
      }
    }

    div.cvWarper{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }

}
