div.jumbotron{
  position: absolute;
  display: block;
  margin-top: 50px;
  width: 100%;
  min-height: 300px;
  //background-image: url(singularity.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  box-sizing: border-box;

  h1 {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 45px;
    vertical-align: middle;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-shadow: 2px 2px 2px  rgba(0,0,0, 0.6);
    text-align: center;
    text-transform: uppercase;
    line-height: 0.8;
    transition: all ease 1s;
    span.cyan {
      color: #06aae7;
    }
  }

  div.filter {
    position: absolute;
    width: 100%;
    bottom: 0px;
    min-height: 150px;
    background-color: rgba(0,0,0, 0.5);
    padding: 15px;
    box-sizing: border-box;
    z-index: 1;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: justify;

    h2 {
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      text-align: left;
      width: auto;
      line-height: 1;
      text-transform: uppercase;
    }

    p {
      color: white;
      margin: 0;
      font-size: 14px;

      strong {
        font-weight: bolder;
      }

      a{
        color: white;
        cursor: pointer;
        transition: all ease 0.5s;

        &:hover{
          color: #06aae7;
        }
      }
    }
  }
}

i.fa-chevron-down{
  position: relative;
  display:block;
  top: 50px;
  width: 50px;
  margin: 0 auto;
  color : #06aae7;
  font-size: 50px;
  text-align: center;
  transition: all ease 1s;
}

main{
  position: absolute;
  margin-top: 350px;
  width: 100%;
}

main.noJumbotron {
  margin-top: 100px;

}

@media all and (min-width: 320px) and (max-width: 599px) {
    div.jumbotron{
      min-height: 350px;

      h1 {
        margin-top: 90px;
      }

      div.filter {
        height: 120px;
        margin-top: -20px;

        h2 {
          font-size: 18px;
          margin-top: 0px;
        }

        p{
          font-size: 15px;
        }
      }
    }

    i.fa-chevron-down{
      top: 180px;
    }

    main{
      position: absolute;
      margin-top: 400px;
      width: 100%;
    }

    main.noJumbotron {
      margin-top: 100px;

    }
}



@media all and (min-width: 600px) and (max-width: 1000px) {
  div.jumbotron{
    min-height: 400px;

    h1 {
      margin-top: 120px;
    }

    div.filter {
      height: 100px;
      padding-top: 15px;
      padding-left: 30px;

      h2 {
        font-size: 20px;
        margin-top: 0px;
      }

      p{
        font-size: 15px;
      }
    }
  }

  main{
    position: absolute;
    margin-top: 450px;
    width: 100%;
  }

  main.noJumbotron {
    margin-top: 200px;

  }

  i.fa-chevron-down{
    top: 220px;
    transition: all ease 0.4s;
  }


}

@media all and (min-width: 1001px) and (max-width: 1559px) {
  div.jumbotron{
    min-height: 500px;

    h1 {
      margin-top: 180px;
    }

    div.filter {
      height: 120px;
      padding-top: 30px;

      p {
        font-size: 16px;
      }
    }
  }

  main{
    position: absolute;
    margin-top: 600px;
    width: 100%;
  }

  main.noJumbotron {
    margin-top: 200px;

  }

  i.fa-chevron-down{
    top: 270px;
  }

}


@media all and (min-width: 1560px) {
  div.jumbotron{
    min-height: 700px;

    h1 {
      margin-top: 270px;
      font-size: 70px;
    }
    div.filter {
      height: 180px;
      padding-left: 250px;
      padding-right: 30px;
      padding-top: 60px;

      h2 {
        font-size: 28px;
      }

      p {
        font-size: 20px;
      }
    }
  }

  i.fa-chevron-down{
    top: 390px
  }

  main{
    position: absolute;
    margin-top: 750px;
    width: 100%;
  }

  main.noJumbotron {
    margin-top: 200px;

  }

}
