div.jumbotron{
  position: absolute;
  display: block;
  margin-top: 50px;
  width: 100%;
  min-height: 300px;
  background-image: url(singularity.jpg);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  box-sizing: border-box;

  h1 {
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 110px;
    vertical-align: middle;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    text-shadow: 2px 2px 2px  rgba(0,0,0, 0.6);
    text-align: center;
    text-transform: uppercase;
    line-height: 0.7;
    span.cyan {
      color: #06aae7;
    }
  }

  div.filter {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 70px;
    background-color: rgba(0,0,0, 0.5);
    padding: 15px;
    box-sizing: border-box;
    z-index: 1;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;

    h2 {
      color: white;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      text-align: left;
      width: auto;
      line-height: 1;
      text-transform: uppercase;
    }

    p {
      color: white;
      margin: 0;
      font-size: 14px;

      a{
        color: white;
        cursor: pointer;

        &:hover{
          color: #06aae7;
        }
      }
    }
  }
}

main{
  position: absolute;
  margin-top: 350px;
  width: 100%;
}

main.noJumbotron {
  margin-top: 100px;

}

@media all and (min-width: 320px) and (max-width: 599px) {
    div.jumbotron{
      min-height: 350px;

      h1 {
        margin-top: 90px;
      }

      div.filter {
        height: 120px;
        margin-top: -20px;

        h2 {
          font-size: 22px;
          margin-top: 0px;
        }

        p{
          font-size: 18px;
        }
      }
    }

    main{
      position: absolute;
      margin-top: 400px;
      width: 100%;
    }

    main.noJumbotron {
      margin-top: 100px;

    }
}



@media all and (min-width: 600px) and (max-width: 1000px) {
  div.jumbotron{
    min-height: 400px;

    h1 {
      margin-top: 120px;
    }

    div.filter {
      height: 100px;
      margin-top: -20px;

      h2 {
        font-size: 22px;
        margin-top: 0px;
      }

      p{
        font-size: 18px;
      }
    }
  }

  main{
    position: absolute;
    margin-top: 450px;
    width: 100%;
  }

  main.noJumbotron {
    margin-top: 200px;

  }


}

@media all and (min-width: 1001px) and (max-width: 1559px) {
  div.jumbotron{
    min-height: 500px;

    h1 {
      margin-top: 180px;
    }

    div.filter {
      height: 120px;
    }
  }

  main{
    position: absolute;
    margin-top: 550px;
    width: 100%;
  }

  main.noJumbotron {
    margin-top: 200px;

  }


}


@media all and (min-width: 1560px) {
  div.jumbotron{
    min-height: 700px;

    h1 {
      margin-top: 270px;
    }
    div.filter {
      height: 180px;
    }
  }

  main{
    position: absolute;
    margin-top: 750px;
    width: 100%;
  }

  main.noJumbotron {
    margin-top: 200px;

  }

}
