// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.filter {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  box-sizing: border-box;
}

main {
  display: block;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-bottom: 60px;

  div.container {
    position: relative;
    width: 98%;
    margin-left: auto;
    margin-right: auto;

    article{
      color: white;
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 4%;
      background-color: none;
      border-top: 1px solid lightgrey;
      border-bottom: 1px solid lightgrey;
      color: #333332;

      h1{
        font-size: 28px;
        font-weight: bolder;
        margin-bottom: 3%;
        font-weight: bold;
        text-transform: uppercase;
        color: #06aae7;


      }

      div.thumb {
        display: block;
        width: 100%;
        height: 150px;
        overflow: hidden;
        z-index: 1;
        transition: all ease 0.5s;
        margin-bottom: 20px;
        border: 1px solid white;

        img {
          display: block;
          position: relative;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
          z-index: -2;

        }

        &:hover{
          box-shadow: inset 0px 0px 6px 1px rgba(6,170,231,1);
          border: 1px solid rgba(6,170,231,1);
        }
      }

      p{
        text-align: justify;
        margin-bottom: 20px;
        line-height: 1.5;

      }

      div.source{
        display: block;

        p{
          text-align: right;
          span{
            color: darkgrey;
            font-weight: bold;
            font-size: 13px;
          }
        }
      }
    }

  }
}

@media all and (min-width: 600px) and (max-width: 1000px){

    div.jumbotron{
      div.filter {
        h1 {
          margin-top: 50px;
        }
      }
    }


  main {

    div.container {
      width: 80%;
      article.aPropos{

        margin-left: auto;
        margin-right: auto;
        padding: 6%;


      }
    }
  }
}

@media all and (min-width: 1001px) and (max-width: 1559px) {


  main {

    div.container {

      width: 85%;

      article{


        margin-left: auto;
        margin-right: auto;
        margin-bottom: 170px;
        padding: 2%;

        p {
          font-size: 18px;
        }

        div.thumb {
          height: 350px;

        &:hover{
          box-shadow: inset 0px 0px 12px 2px rgba(6,170,231,1);
        }

          img {
            z-index: -1;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1560px) {


  main {

    div.container {

      width: 60%;

      article{


        margin-left: auto;
        margin-right: auto;
        margin-bottom: 170px;
        padding: 2%;

        p {
          font-size: 18px;
        }

        div.thumb {
          height: 350px;

          &:hover{
            box-shadow: inset 0px 0px 12px 2px rgba(6,170,231,1);
          }

          img {
            z-index: -1;
          }
        }
      }
    }
  }
}
