header {
  display: block;
  position: fixed;
  width: 100%;
  height: 50px;
  color: black;
  background-color: rgba(255,255,255,1);
  z-index: 100;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);

  a.home {
    display: inline-block;
    background-color: white;
    position: absolute;
    width: 190px;
    padding: 5px;
    padding-left: 20px;
    box-sizing: border-box;
    top: 0px;
    height: 50px;
    color: black;
    z-index: 101;
    vertical-align: middle;
    transition: all ease 0.3s;

    h1 {
      span.cyan {
        transition: color ease 0.3s;
      }
    }

    &:hover {
      background-color: #06aae7;

      h1 {

        span.cyan {
          color: white;
        }
      }
    }
  }

  h1 {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: -3px;
    margin-top: -5px;


    .cyan {
      color: #06aae7;
    }
  }

  nav.topMenu {
    position: absolute;
    display: block;
    right: 0px;
    width: auto;
    height: 100%;
    margin: 0px;

    ul {
      height: 100%;
      text-align: right;

      li {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        height: 100%;
        padding-left: 30%;
        box-sizing: border-box;
        text-align: center;
        box-sizing: border-box;
        background-color: white;
        color: #06aae7;
        padding-right: 30%;
        padding-top: 17%;
        box-sizing: border-box;
        transition: all ease 0.30s;

        &:hover{
          cursor: pointer;
        }

      }

      a{
        position: relative;
        display: none;
        width: 10%;
        vertical-align: middle;
        height: 100%;
        padding: 1%;
        box-sizing: border-box;
        background-color: #333332;
        margin: 0px;
        margin-right: -5px;
        text-decoration: none;
        transition: all ease 0.30s;

        &:hover{
          background-color: white;
          color: #06aae7;
        }

        li {
          display: block;
          position: relative;
          width: 100%;
          color: white;
          font-weight: bold;
          font-size: 20px;
          margin: 0px;
          text-align: center;
          padding-right: 0;
          padding-top: 2%;
          padding-left: 0;
          transition: none;
        }


      }

    }



  }
}

nav.rightMenu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  background-color: #333332;
  border-left: 1px solid black;
  border-top: 1px solid black;
  z-index: 100;
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;

  ul {
    text-align: center;
    a {
      height: 30px;
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;


      li {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid black;
        padding-top: 10px;
        box-sizing: border-box;
        margin-left: 0;
        transition: all ease-in-out 0.3s;
        &:hover{
          background-color: white;
          box-shadow: inset -0px 0px 5px 0px rgba(0,0,0,0.6);
          color: #06aae7;
          width: 105%;
        }
      }
    }
  }
}


@media all and (min-width: 1560px){

  header {
    display: block;
    position: fixed;
    width: 100%;
    height: 50px;
    color: black;
    background-color: rgba(255,255,255,1);
    z-index: 100;

    a.home {
      color: black;

      &:hover {
        background-color: #06aae7;

        h1{
          span.cyan {
            color:white;
          }
        }
      }
    }

    h1 {
      display: inline-block;
      position: absolute;
      left: 20px;
      top: 0px;
      vertical-align: middle;
      font-size: 32px;
      text-transform: uppercase;
      font-weight: bolder;
      letter-spacing: -3px;
      margin-top: 0px;

      .cyan {
        color: #06aae7;
      }
    }

    nav.topMenu {
      position: absolute;
      display: block;
      right: 0px;
      width: 1500px;
      height: 100%;
      margin: 0px;

      ul {
        height: 100%;
        text-align: right;

        li {
          position: relative;
          display: none;
          width: 5%;
          vertical-align: middle;
          height: 100%;
          box-sizing: border-box;
          background-color: #06aae7;
          color: white;
          padding-right: 30px;
          padding-left: 25px;
          padding-top: 10px;
          box-sizing: border-box;
          line-height: 0.8;

        }

        a{
          position: relative;
          display: inline-block;
          width: 15%;
          vertical-align: middle;
          height: 100%;
          padding: 1%;
          box-sizing: border-box;
          background-color: #333332;
          margin: 0px;
          margin-right: -5px;
          text-decoration: none;

          &:hover{
            background-color: #06aae7;
          }

          li {
            display: block;
            position: relative;
            width: 100%;
            background-color: rgba(0,0,0,0);
            color: white;
            font-weight: bold;
            font-size: 20px;
            margin: 0px;
            text-align: center;
            padding-right: 0;
          }


        }

      }
    }
  }

  nav.rightMenu {
    display: none;
    border: none;
    a{
      display: none;
    }

  }

}
