
.showprojects {
  display: block;
  padding-bottom: 90px;

  h1{
    display: block;
    font-size: 28px;
    text-align: center;
    background-color: #06aae7;
    color: white;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 50px;
  }

  article {

    h1{
      background-color: white;
      color: #06aae7;
    }

    div.time {
      position: relative;
      display: block;
      margin-bottom: 30px;

      h2 {
        position: absolute;
        display: inline-block;
        background-color: #06aae7;
        color: white;
        font-weight: bold;
        padding: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 20px;
        left: 0;

        &:last-child{
          right: 0;
          left: auto;
        }
      }

      i{
        display: inline-block;
        color: #06aae7;
        width: 55%;
        text-align: right;
        font-size: 40px;

      }
    }

    h1 {

    }

    div.thumb{
      width: 95%;
      margin: 30px auto;
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }

    div.intel{
      display: block;
      position: relative;
      height: auto;
      margin-bottom: 0;

      div.technos{
        position: relative;
        display: inline-block;
        width: 100%;
        margin-left: 5%;
        margin-top: 0;
        text-align: center;

        p{
          position: relative;
          display: inline-block;
          color: black;
          text-align: right;
          height: 30%;
          width: auto;
          margin-bottom: 10px;
          font-size: 14px;

          &:last-child{
            position: relative;
            display: inline-block;
            color: black;
            text-align: right;
            height: 30%;
            margin-bottom: 10px;

          }

          img {
            display: inline-block;
            position: relative;
            height: 15px;
          }
        }
      }

      div.links {
        display: block;
        width: 100%;
        vertical-align: top;
        text-align: center;
        a{
          display: inline-block;
          vertical-align: middle;
          text-decoration: none;
          color: #06aae7;
          margin: 15px 20px;
          margin-top: 10px;
          i{
            display: block;
            height: 42px;
            font-size: 42px;
          }
        }

        p{
          position: relative;
          display: none;
          span{
            display: visible;
          }
        }
      }
    }

    p{
      display: block;
      width: 90%;
      margin: 0 auto;
      text-align: justify;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 2;

      a{
        text-decoration: none;
        transition: all ease 0.5s;

        &:hover{
          text-decoration: underline;
        }
      }


      span{
        font-weight: bold;
        font-size: 18px;
      }

      strong {
        font-weight: bold;
        color: #06aae7;
      }

      &:last-child{
        text-align: right;
        color: grey;
        width: 90%;
        margin-right: 5%;
        right: 0;
        font-size: 14px;
      }
    }
  }


}

@media all and (min-width: 600px) and (max-width: 1049px){
  .showprojects{

    article {
        position: relative;
        display: block;
        width: 70%;
        margin: 0 auto;

    }
  }
}

@media all and (min-width: 1050px){
  .showprojects{

    article {
        position: relative;
        display: block;
        width: 55%;
        margin: 0 auto;

        div.thumb {
          width: 90%;
          overflow: hidden;
          margin-bottom: 30px;
        }

        div.time {
          margin-bottom: 50px;

          i{
            width: 52.5%;
          }

          h2 {
              left: 100px;

              &:last-child{
                right: 100px;
              }
          }
        }

        div.intel {
          display: block;
          position: relative;
          width: 90%;
          height: auto;
          padding: 20px 0;
          margin: 0px auto;
          border-top: 1px solid lightgrey;
          border-bottom: 1px solid lightgrey;
          box-sizing: border-box;
          margin-bottom: 50px;


          div.technos{
              position: relative;
              width: 35%;
              height: auto;
              margin-left: 5%;
              text-align: right;
              border-right: 1px solid lightgrey;
              box-sizing: content-box;

              p {
                display: block;
                position: relative;
                text-align: right;
                width: 90%;
                margin-right: 10%;
                margin-bottom: 12px;
                vertical-align: middle;
                font-weight: bold;
                color: #333332;
                text-transform: capitalize;

                &:first-child {
                  text-align: right;
                  margin-top: 5px;

                }

                &:last-child{
                  color: #333332;
                  margin-bottom: 10px;
                  font-weight: bold;
                }
                img {
                  position: relative;
                  display: inline-block;
                  height: 25px;
                  margin: 0;
                  vertical-align: middle;
                  margin-left: 10px;

                }
              }

          }

          div.links {
            display: inline-block;
            width: 51%;
            vertical-align: top;
            padding-left: 3%;
            text-align: left;

            a{
              display: inline-block;
              height: 30px;
              vertical-align: middle;
              margin: 0;

              i{
                display: inline-block;
                height: 22px;
                font-size: 22px;
                margin-bottom: 10px;
                vertical-align: middle;
                color: #06aae7;
              }
            }

            p{
              position: relative;
              display: inline-block;
              font-size: 16px;
              font-weight: bold;
              margin-right: 0;
              margin-bottom: 8px;
              margin-top: 8px;
              text-align: left;
              vertical-align: baseline;
              width: 92%;
              color: #333332;

              span {
                background-color: #06aae7;
                padding: 5px;
                padding-top: 2px;
                padding-bottom: 2px;
                border-radius: 5px;
                color: white;
                font-size: 14px;
                font-weight: normal;
                margin: 0;
              }



              &:last-child{
                vertical-align: top;
                text-align: left;
                width: 80%;
                color: #333332;
                margin-bottom: 0px;
                vertical-align: middle;
              }

              &:first-child{
                margin-bottom: 0px;
              }
            }
          }
        }

        p{
          font-size: 18px;
          line-height: 2;

          &:last-child{
            font-size: 16px;
          }
        }
    }
  }
}
