
.showprojects {
  display: block;
  padding-bottom: 90px;

  h1{
    display: block;
    font-size: 28px;
    text-align: center;
    background-color: #06aae7;
    color: white;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 50px;
  }

  article {

    h1{
      background-color: white;
      color: #06aae7;
    }

    div.time {
      position: relative;
      display: block;

      h2 {
        position: absolute;
        display: inline-block;
        background-color: #06aae7;
        color: white;
        font-weight: bold;
        padding: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 20px;
        left: 0;

        &:last-child{
          right: 0;
          left: auto;
        }
      }

      i{
        display: inline-block;
        color: #06aae7;
        width: 100%;
        text-align: center;
        font-size: 40px;

      }
    }

    h1 {

    }

    div.thumb{
      width: 95%;
      margin: 30px auto;
      img {
        width: 100%;
      }
    }

    div.intel{
      display: block;
      position: relative;
      height: 180px;
      div.technos{
        display: inline-block;
        height: 90px;
        width: 45%;
        margin-left: 5%;

        img {
          display: block;
          position: relative;
          height: 25px;
          margin-top: 8px;
        }
      }

      div.links {
        display: inline-block;
        width: 45%;
        vertical-align: top;

        i{
          display: block;
          height: 30px;
          font-size: 22px;
          margin-bottom: 10px;
        }

        p{
          position: relative;
          display: none;
        }
      }
    }

    p{
      display: block;
      width: 90%;
      margin: 0 auto;
      text-align: justify;
      margin-bottom: 30px;

      strong {
        font-weight: bold;
        color: #06aae7;
      }

      &:last-child{
        text-align: right;
        color: grey;
        width: 50%;
        margin-right: 10%;
        right: 0;
      }
    }
  }


}

@media all and (min-width: 600px) and (max-width: 1049px){
  .showprojects{

    article {
        position: relative;
        display: block;
        width: 70%;
        margin: 0 auto;
    }
  }
}

@media all and (min-width: 1050px){
  .showprojects{

    article {
        position: relative;
        display: block;
        width: 55%;
        margin: 0 auto;

        div.time {
          margin-bottom: 50px;

          h2 {
              left: 100px;

              &:last-child{
                right: 100px;
              }
          }
        }

        div.thumb {
          margin-bottom: 0;
          width: 90%;
          height: 465px;
          overflow: hidden;
        }

        div.intel {
          display: block;
          position: relative;
          width: 90%;
          padding: 20px 0;
          margin: 0px auto;
          border-top: 1px solid lightgrey;
          border-bottom: 1px solid lightgrey;
          box-sizing: border-box;
          margin-bottom: 50px;


          div.technos{
              width: 35%;
              margin-left: 5%;
              height: 140px;
              text-align: right;
              border-right: 1px solid lightgrey;

              p {
                display: block;
                position: relative;
                text-align: right;
                width: 90%;
                margin-right: 10%;
                margin-bottom: 20px;
                vertical-align: middle;
                font-weight: bold;

                &:first-child {
                  text-align: right;
                  margin-top: 5px;
                }

                &:last-child{
                  color: #333332;
                  margin-bottom: 10px;
                }
                img {
                  display: inline-block;
                  margin: 0;
                  vertical-align: middle;
                  margin-left: 10px;

                }
              }

          }

          div.links {
            display: inline-block;
            width: 51%;
            vertical-align: top;
            padding-left: 3%;

            i{
              display: inline-block;
              height: 30px;
              font-size: 22px;
              margin-bottom: 10px;
              vertical-align: middle;
              color: #06aae7;
            }

            p{
              position: relative;
              display: inline-block;
              font-size: 16px;
              font-weight: bold;
              margin-right: 0;
              margin-bottom: 23px;
              vertical-align: middle;
              width: 92%;

              span {
                background-color: #06aae7;
                padding: 5px;
                padding-top: 2px;
                padding-bottom: 2px;
                border-radius: 5px;
                color: white;
                font-size: 14px;
                font-weight: normal;
                margin: 0;
              }

              &:last-child{
                vertical-align: top;
                text-align: left;
                width: 80%;
                color: #333332;
                margin-bottom: 0px;
              }
            }
          }
        }
    }
  }
}
