
.showprojects {
  display: block;
  padding-bottom: 90px;

  h1{
    display: block;
    font-size: 28px;
    text-align: center;
    background-color: #06aae7;
    color: white;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
    padding: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 50px;
  }

  article {

    h1{
      background-color: white;
      color: #06aae7;
    }

    div.time {
      position: relative;
      display: block;

      h2 {
        position: absolute;
        display: inline-block;
        background-color: #06aae7;
        color: white;
        font-weight: bold;
        padding: 3%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 20px;
        left: 0;

        &:last-child{
          right: 0;
          left: auto;
        }
      }

      i{
        display: inline-block;
        color: #06aae7;
        width: 100%;
        text-align: center;
        font-size: 40px;

      }
    }

    h1 {

    }

    div.thumb{
      width: 95%;
      margin: 30px auto;
      img {
        width: 100%;
      }
    }

    div.intel{
      display: block;
      position: relative;
      height: 180px;
      div.technos{
        display: inline-block;
        height: 90px;
        width: 45%;
        margin-left: 5%;

        img {
          display: block;
          position: relative;
          height: 25px;
          margin-top: 8px;
        }
      }

      div.links {
        display: inline-block;
        width: 45%;
        vertical-align: top;

        i{
          display: block;
          height: 30px;
          font-size: 22px;
          margin-bottom: 10px;
        }

        p{
          position: relative;
          display: none;
        }
      }
    }

    p{
      display: block;
      width: 90%;
      margin: 0 auto;
      text-align: justify;
      margin-bottom: 30px;

      strong {
        font-weight: bold;
        color: #06aae7;
      }

      &:last-child{
        text-align: right;
        color: grey;
        width: 50%;
        margin-right: 10%;
        right: 0;
      }
    }
  }


}
