<header>
  <a class="home" href="/admin"><h1>yoan<span class="cyan">admin</span></h1></a>
  <nav class="topMenu" id="topMenu">
    <ul>
      <a href="/"><li>Retour au site</li></a>
      <a href="/admin/projects"><li>Projets</li></a>
      <a href="/admin/technologies"><li>Technologies</li></a>
      <a href="/admin/users"><li>Utilisateurs</li></a>
      <a href="/admin/experiences"><li>Expériences</li></a>
      <a href="/admin/formations"><li>Formations</li></a>
      <a href="/admin/activities"><li>Activités</li></a>

      <li id="burgerBtn"><i class="fa fa-bars fa-2x"></i></li>
    </ul>
  </nav>

</header>

<nav id ="rightMenu" class="rightMenu">
  <ul>
    <a href="/admin/projects"><li>Projets</li></a>
    <a href="/admin/technologies"><li>Technologies</li></a>
    <a href="/admin/users"><li>Utilisateurs</li></a>
    <a href="/admin/experiences"><li>Expériences</li></a>
    <a href="/admin/formations"><li>Formations</li></a>
    <a href="/admin/activities"><li>Activités</li></a>
  </ul>
</nav>
